.container {
    width: 1300px;
    margin: 0 auto;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: calc(100vh - 148px);
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}
